<form>
  <div class="mb-3 text-center">
    <label for="username" class="form-label text-light">User Name</label>
    <input type="text" class="form-control" name="username" placeholder="Username" [(ngModel)]="loginUser.username">
  </div>

  <div class="mb-3 text-center">
    <label for="password" class="form-label text-light">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="loginUser.password">
  </div>

  <div class="mb-3 d-grid gap-2">
  <button (click)="login(loginUser)" type="submit" class="btn btn-primary">Login</button>
  </div>
</form>
