h1 {
    color: white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.playButton {
    color: white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.container {
    color: white;
    padding: 10px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.thumbnail-image {
    width: 100px;
    height: auto;
}

.table-container {
    height: 400px; 
    overflow-y: auto;
}

.table-container table {
    width: 100%;
}

.table-container th,
.table-container td {
    white-space: nowrap;
}
body {
    background-image: url('https://media.timeout.com/images/105287595/750/422/image.webp');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container-fluid {
	opacity: 0.9;
    min-height: 100vh; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}